body {
    margin: 0;
    font-family: Arial;
    background: url('img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: black;
}

#about p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    color: black;
    font-weight: 500;
    padding: 15px;
    background-color: rgba(255, 248, 240, 0.6); /* light cream */
    border-radius: 8px;
    font-family: cursive;
}


.header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: beige;
    font-size: 28px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 7px;
    color: beige;
}

nav ul li a {
    color: beige;
    text-decoration: none;
}

.searchbar {
    text-align: center;
    padding: 15px;
}

.searchbar input {
    width: 50%;
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
}

.section, .products, .contact {
    padding: 30px;
    background-color: rgba(245, 222, 179, 0.7); /* Light Sandal */
    margin: 20px;
    border-radius: 10px;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.products .box {
    width: 200px;
    background: white;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.products .box img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.products h2 {
    width: 100%;
    text-align: center;
    color: black;
}

.contact h1, .contact h2 {
    text-align: center;
}

.shop-name {
    font-size: 24px;
    color: black;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

a:hover {
    opacity: 0.7;
}
